name: Publish Crate

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install sqlx-cli
        run: cargo install sqlx-cli --no-default-features --features postgres,native-tls

      - name: Update sqlx cache (handles dirty pushes)
        run: cargo sqlx prepare --workspace
        env:
          DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres" # dummy for cache only

      - name: Set SQLX_OFFLINE
        run: echo "SQLX_OFFLINE=true" >> $GITHUB_ENV

      - name: Build (release)
        run: cargo build --release --verbose

      - name: Push Crate
        run: cargo publish --verbose
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
